<!DOCTYPE html>
<html ng-app="musicas">
<head>
	<meta charset="UTF-8">
	<title>Músicas</title>
	<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="./css/style.css"/>
	<link rel="stylesheet" type="text/css" href="./css/bootstrap-datepicker.standalone.min.css"/>
	
	<script type="text/javascript" src="./js/jquery-2.2.4.min.js"></script>
	<script type="text/javascript" src="./js/jquery.mask.js"></script>
	<script src="./js/bootstrap.min.js"></script>
	<script src="./js/angularjs.1.5.7.js"></script>
	<script src="./controllers/module.js"></script>
	<script src="./controllers/musicaController.js"></script>
	
</head>
<body ng-controller="musicasController" ng-init="listarMusicas();">
	<form name="formulario" class="form-horizontal" novalidate>
		
		<nav class="navbar navbar-inverse navbar-static-top">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#">
		      	<font style="color: #FFFFFF">Cadastro de músicas</font>
		      </a>
		    </div>
		  </div>
		</nav>
		
    	<div class="panel panel-default">
    		<div class="panel-heading">
    			<div class="clearfix">
		  			<h1 class="panel-title aw-titulo-panel">{{acaoPagina}}</h1>
	  			</div>
    		</div>
    		
    		<div class="panel-body">
    			<input type="hidden"/>
				<div class="form-group">
					<label for="nome" class="col-sm-2 control-label">Nome</label>
					<div class="col-sm-4"> 
						<input type="text" class="form-control" id="nome" name="nome" maxlength="100" ng-model="musica.nome" required/>
						<div class="alert alert-danger" role="alert" ng-if="(formulario.nome.$touched || formulario.$submitted) && formulario.nome.$invalid">
							<span ng-if="formulario.nome.$error.required">Este campo é obrigatório</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="banda" class="col-sm-2 control-label">Banda</label>
					<div class="col-sm-2">  
						<input type="text" class="form-control"	id="banda" name="banda" maxlength="100" ng-model="musica.banda" required/>
						<div class="alert alert-danger" role="alert" ng-if="(formulario.banda.$touched || formulario.$submitted) && formulario.banda.$invalid">
							<span ng-if="formulario.banda.$error.required">Este campo é obrigatório</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="duracao" class="col-sm-2 control-label">Duração</label>
					<div class="col-sm-2">   
						<input type="text" class="form-control" id="duracao" name="duracao" ng-model="musica.duracao" required/>
						<div class="alert alert-danger" role="alert" ng-if="(formulario.duracao.$touched || formulario.$submitted) && formulario.duracao.$invalid">
							<span ng-if="formulario.duracao.$error.required">Este campo é obrigatório</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary" ng-click="salvar();">Salvar</button>
						<button type="reset" ng-click="resetForm();">Limpar</button>
					</div>
				</div>
			</div>
    	</div>
    </form>
    
    
    
    <div class="panel-body">

		<table class="table table-bordered table-striped">
   			<thead>
   				<tr>
   					<th class="text-left col-md-5">Nome</th>
   					<th class="text-center col-md-4">Banda</th>
   					<th class="text-right col-md-2">Duracao</th>
   					<th class="col-md-1"></th>
   				</tr>
   			</thead>
   			<tbody>
   				<tr	ng-repeat="musica in musicas">
   					<td class="text-left">{{musica.nome}}</td>
   					<td class="text-center">{{musica.banda}}</td>
   					<td class="text-right">{{musica.duracao}}</td>
   					<td class="text-center">
   						<a class="btn btn-link btn-xs" title="Editar" rel="tooltip" data-placement="top" ng-click="buscarMusica(musica.codigo);">
   							<span class="glyphicon glyphicon-pencil"></span>
   						</a>
   						<a class="btn btn-link btn-xs" title="Excluir" rel="tooltip" data-placement="top" ng-click="deletar(musica.codigo);">
   							<span class="glyphicon glyphicon-remove"></span>
   						</a>
   					</td>
   				</tr>
   			</tbody>
   		</table>
	</div>
</body>
</html>